In [1]:
import pandas as pd

In [37]:
df = pd.read_csv("ispu.csv")
df

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-04-01,DKI1 (Bunderan HI),26,42,22,11,13,19,42,PM25,BAIK
1,2021-04-02,DKI1 (Bunderan HI),41,54,27,11,17,19,54,PM25,SEDANG
2,2021-04-03,DKI1 (Bunderan HI),25,42,20,8,18,22,42,PM25,BAIK
3,2021-04-04,DKI1 (Bunderan HI),57,78,21,23,14,33,78,PM25,SEDANG
4,2021-04-05,DKI1 (Bunderan HI),52,69,22,15,18,27,69,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...
750,2021-05-27,DKI5 (Kebon Jeruk) Jakarta Barat,34,61,32,5,20,11,61,PM25,SEDANG
751,2021-05-28,DKI5 (Kebon Jeruk) Jakarta Barat,49,77,37,8,20,19,77,PM25,SEDANG
752,2021-05-29,DKI5 (Kebon Jeruk) Jakarta Barat,54,88,37,11,19,29,88,PM25,SEDANG
753,2021-05-30,DKI5 (Kebon Jeruk) Jakarta Barat,46,66,24,15,18,29,66,PM25,SEDANG
754,2021-05-31,DKI5 (Kebon Jeruk) Jakarta Barat,52,82,21,11,27,18,82,PM25,SEDANG

In [38]:
df.groupby('categori').size()

categori
BAIK              125
SEDANG            558
TIDAK ADA DATA      7
TIDAK SEHAT        65
dtype: int64

In [40]:
df.isna().sum()

tanggal      0
stasiun      0
pm10         0
pm25        62
so2          0
co           0
o3           0
no2          0
max          0
critical     7
categori     0
dtype: int64

In [10]:
df.isna().sum()

tanggal       0
stasiun     305
pm10          0
pm25         62
so2           0
co            0
o3            0
no2           0
max           0
critical      5
categori      1
location    605
dtype: int64

In [35]:
df = pd.read_csv("ispu (8).csv")
df

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-04-01,DKI1 (Bunderan HI),26,42,22,11,13,19,42,PM25,BAIK
1,2021-04-02,DKI1 (Bunderan HI),41,54,27,11,17,19,54,PM25,SEDANG
2,2021-04-03,DKI1 (Bunderan HI),25,42,20,8,18,22,42,PM25,BAIK
3,2021-04-04,DKI1 (Bunderan HI),57,78,21,23,14,33,78,PM25,SEDANG
4,2021-04-05,DKI1 (Bunderan HI),52,69,22,15,18,27,69,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...
145,2021-04-26,DKI5 (Kebon Jeruk) Jakarta Barat,52,82,28,10,26,19,82,PM25,SEDANG
146,2021-04-27,DKI5 (Kebon Jeruk) Jakarta Barat,56,95,33,9,28,18,95,PM25,SEDANG
147,2021-04-28,DKI5 (Kebon Jeruk) Jakarta Barat,49,81,21,10,26,22,81,PM25,SEDANG
148,2021-04-29,DKI5 (Kebon Jeruk) Jakarta Barat,43,73,22,14,26,25,73,PM25,SEDANG
149,2021-04-30,DKI5 (Kebon Jeruk) Jakarta Barat,52,83,23,12,28,23,83,PM25,SEDANG

In [15]:
df14.groupby('categori').size()

categori
BAIK                5
SEDANG            135
TIDAK ADA DATA      1
TIDAK SEHAT        14
dtype: int64